car_detect/
data/
env/
logs/
models/
models/facenet_keras.h5
models/model_20211203_rmsprop.h5
embedding_data/
.vscode/
out.log
__pycache__/
env-2.5/
yolox/
env3.6/
reports/
recall/
tflite_runtime-2.7.0-cp36-cp36m-linux_x86_64.whl
tflite_runtime-2.7.0-cp36-cp36m-linux_aarch64.whl
